<div class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div
            class="header accent p-24"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <h2 class="m-0">Generation Planner</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content p-24" fusePerfectScrollbar>
                <mat-horizontal-stepper
                    [linear]="false"
                    (selectionChange)="onStepChange($event)"
                    #stepper
                >
                    <mat-step [completed]="!!stepperStatus.GenAsset?.isValid">
                        <ng-template matStepLabel="GenAsset">
                            <span> Generation Info & Assets</span>
                        </ng-template>
                        <genie-plan-gen-asset></genie-plan-gen-asset>
                    </mat-step>
                    <mat-step [completed]="!!stepperStatus.TrigAction?.isValid">
                        <ng-template matStepLabel
                            >Triggers & Action Items</ng-template
                        >
                        <genie-plan-trig-actions></genie-plan-trig-actions>
                    </mat-step>
                    <mat-step [completed]="!!stepperStatus.TmMgr?.isValid">
                        <ng-template matStepLabel>Team Assignement</ng-template>
                        <genie-plan-step-tm-manager></genie-plan-step-tm-manager>
                    </mat-step>
                    <mat-step [completed]="!!stepperStatus.AtaList?.isValid">
                        <ng-template matStepLabel
                            >Asset Trigger Action Items</ng-template
                        >
                        <genie-plan-step-ata-list></genie-plan-step-ata-list>
                    </mat-step>
                    <mat-step [completed]="!!stepperStatus.Summary?.isValid">
                        <ng-template matStepLabel>Review Changes</ng-template>
                        <genie-plan-step-summary></genie-plan-step-summary>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
