<div *ngIf="actions.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-action-text hint-text">There are no actions!</span>
</div>
<div class="action-list" ngxDroppable [model]="actions" (out)="onDrop($event)" [@animateStagger]="{value:'50'}">
    <am-list-item class="action-list-item has-handle"
                    *ngFor="let action of actions" [action]="action"
                    ngxDraggable
                    [model]="action"
                    (click)="readAction(action.id)"
                    [ngClass]="{'current-action':action?.id == currentAction?.id}"
                    matRipple
                    [@animate]="{value:'*',params:{y:'100%'}}">
    </am-list-item>
</div>
