<div id="action" class="page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="am-sidebar" position="left" lockedOpen="gt-md">
        <am-sidebar [sbHasTriggers]="triggerRoute"></am-sidebar>
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">

            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                        (click)="toggleSidebar('am-sidebar')">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="search" flex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Search for a action" fxFlex>
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" [ngClass]="{'current-action-selected':currentAction}">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">

                <div class="task-selection" fxFlex="row" fxLayoutAlign="start center">
                    <mat-checkbox (click)="toggleSelectAll()" [checked]="hasSelectedActions"
                                  [indeterminate]="isIndeterminate"></mat-checkbox>

                    <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>

                    <mat-menu #selectMenu="matMenu">
                        <button mat-menu-item (click)="selectActions()">All</button>
                        <button mat-menu-item (click)="deselectActions()">None</button>
                        <button mat-menu-item (click)="selectActions('read', true)">Read</button>
                        <button mat-menu-item (click)="selectActions('read', false)">Unread</button>
                        <button mat-menu-item (click)="selectActions('starred', true)">Critical</button>
                        <button mat-menu-item (click)="selectActions('starred', false)">Un-Critical</button>
                        <button mat-menu-item (click)="selectActions('important', true)">Important</button>
                        <button mat-menu-item (click)="selectActions('important', false)">Unimportant</button>
                    </mat-menu>

                    <div class="toolbar-separator" *ngIf="hasSelectedActions"></div>

                    <button mat-icon-button [matMenuTriggerFor]="labelMenu" *ngIf="hasSelectedActions">
                        <mat-icon class="secondary-text">label</mat-icon>
                    </button>
                    <mat-menu #labelMenu="matMenu">
                        <button mat-menu-item *ngFor="let tag of tags" (click)="toggleTagOnSelectedActions(tag.id)">
                            {{tag.tagTitle}}
                        </button>
                    </mat-menu>
                </div>

                <div *ngIf="currentAction" fxHide.gt-lg>
                    <button mat-icon-button (click)="deselectCurrentAction()">
                        <mat-icon class="secondary-text">arrow_back</mat-icon>
                    </button>
                </div>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" fxFlexAlign="row">
                <am-list fusePerfectScrollbar fxFlex></am-list>
                <am-details fusePerfectScrollbar fxFlex></am-details>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
