<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxFlex="60">
        <div>
            <h3 fxLayout="row" fxLayoutAlign="center center">Overview</h3>
        </div>
        <div class="step1content">
            <form fxLayout="column" [formGroup]="step1FormGroup" fxFlex>
                <mat-form-field>
                    <input matInput name="title" formControlName="title" placeholder="Generation Title" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="In Support Of" name="iso" required formControlName="iso">
                        <mat-option *ngFor="let op of isoOperations" [value]="op">
                            {{op}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="numRequired" readonly placeholder="Number of Required Assets" type="number"
                        formControlName="numberAssetsRequired" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="startDate" [matDatepicker]="planStartPicker" formControlName="startDt"
                        placeholder="Planned Start date">
                    <mat-datepicker-toggle matSuffix [for]="planStartPicker"></mat-datepicker-toggle>
                    <mat-datepicker #planStartPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="stopDate" [matDatepicker]="planStopPicker" formControlName="stopDt"
                        placeholder="Planned Stop date">
                    <mat-datepicker-toggle matSuffix [for]="planStopPicker"></mat-datepicker-toggle>
                    <mat-datepicker #planStopPicker></mat-datepicker>
                </mat-form-field>
            </form>
        </div>

    </div>
    <div fxFlex="40">
        <div>
            <h3 fxLayout="row" fxLayoutAlign="center center">Select Asset Available for Generation</h3>
        </div>
        <div class="step1content inner-scroll" fusePerfectScrollbar>
            <mat-selection-list #assets [(ngModel)]="genAssetsSelected" (ngModelChange)="assignedAssetModelChange($event)">
                <mat-list-option *ngFor="let asset of allAssets" [value]="asset.id">
                    {{asset.alias}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>

</div>
<mat-divider></mat-divider>
<div class="pt-12">
    <button mat-raised-button matStepperNext>Next: Triggers</button>
</div>