<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button
                mat-icon-button
                (click)="cancel()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="teamFormGroup">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        name="teamName"
                        formControlName="teamName"
                        matInput
                    />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field
                    appearance="outline"
                    *ngIf="teamCatFormMode === 'select'"
                    fxFlex
                >
                    <mat-label>Assigned Team Categories</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >

                    <mat-select
                        [compareWith]="compareCategories"
                        formControlName="teamCategory"
                    >
                        <mat-option [value]=""
                            >Select/Create Category</mat-option
                        >
                        <mat-option
                            *ngFor="let teamCat of teamCategories"
                            [value]="teamCat"
                        >
                            {{ teamCat.teamType }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex *ngIf="teamCatFormMode !== 'select'">
                    <input
                        matInput
                        type="text"
                        formControlName="editCategory"
                    />
                    <button
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="cancelCategory()"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Save"
                        (click)="saveCategory()"
                    >
                        <mat-icon>check</mat-icon>
                    </button>
                </mat-form-field>
                <button class="mt-8" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button
                        mat-menu-item
                        [disabled]="teamCatFormMode === 'edit'"
                        (click)="addCategory()"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Add Category</span>
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="!selectedTeamCat"
                        (click)="editCategory()"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Edit Category</span>
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="!selectedTeamCat"
                        (click)="deleteTeamCategory()"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Delete Category</span>
                    </button>
                </mat-menu>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label># of Members</mat-label>
                    <input
                        name="numTeamMembers"
                        formControlName="numTeamMembers"
                        type="number"
                        matInput
                    />
                </mat-form-field>
            </div>

            <div
                fxLayout="row"
                class="textarea-wrapper"
                fxLayoutAlign="start start"
            >
                <p-editor
                    name="notes"
                    matInput
                    formControlName="notes"
                    [style]="{ height: '150px' }"
                ></p-editor>
            </div>
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            *ngIf="formMode === 'edit'"
            mat-button
            class="mr-8"
            (click)="deleteTeam()"
            [disabled]="isSaving | async"
            aria-label="Delete"
            matTooltip="Delete"
        >
            DELETE
        </button>

        <button
            *ngIf="formMode !== 'edit'"
            mat-button
            class="save-button"
            (click)="saveChanges()"
            [disabled]="teamFormGroup.invalid || (isSaving | async)"
            aria-label="SAVE"
        >
            ADD
        </button>

        <button
            *ngIf="formMode === 'edit'"
            mat-button
            class="save-button"
            (click)="saveChanges()"
            [disabled]="teamFormGroup.invalid || (isSaving | async)"
            aria-label="SAVE"
        >
            SAVE
        </button>
        <mat-progress-bar
            *ngIf="(isSaving | async)"
            [color]="isDeleting ? 'warn' : 'primary'"
            mode="indeterminate"
        ></mat-progress-bar>
    </div>
</div>
