<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button
                mat-icon-button
                (click)="cancel()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row
            class="toolbar-bottom py-16"
            fxLayout="column"
            fxLayoutAlign="center center"
        >
            <div class="contact-name mt-8">
                {{ currentTeam.teamName }}
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="teamFormGroup">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        name="teamName"
                        formControlName="teamName"
                        matInput
                    />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Assigned Team Categories</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <mat-select formControlName="teamCategory">
                        <mat-option
                            *ngFor="let cats of teamCategories"
                            [value]="cats"
                        >
                            {{ cats }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label># of Members</mat-label>
                    <input
                        name="numberOfTeamMembers"
                        formControlName="numberOfTeamMembers"
                        type="number"
                        matInput
                    />
                </mat-form-field>
            </div>

            <div
                fxLayout="row"
                class="textarea-wrapper"
                fxLayoutAlign="start start"
            >
                <p-editor
                    name="notes"
                    matInput
                    formControlName="notes"
                    [style]="{ height: '320px' }"
                ></p-editor>
                <!-- <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notes</mat-label>
                    <textarea
                        name="notes"
                        formControlName="notes"
                        matInput
                        type="text"
                        max-rows="4"
                    ></textarea>
                </mat-form-field> -->
            </div>
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            *ngIf="action === 'edit'"
            mat-button
            class="mr-8"
            (click)="deleteTeam()"
            aria-label="Delete"
            matTooltip="Delete"
        >
            DELETE
        </button>

        <button
            *ngIf="action !== 'edit'"
            mat-button
            class="save-button"
            (click)="saveChanges()"
            [disabled]="teamFormGroup.invalid"
            aria-label="SAVE"
        >
            ADD
        </button>

        <button
            *ngIf="action === 'edit'"
            mat-button
            class="save-button"
            (click)="saveChanges()"
            [disabled]="teamFormGroup.invalid"
            aria-label="SAVE"
        >
            SAVE
        </button>
    </div>
</div>
