<div id="gp-step-tm-mgr" class="page-layout simple">
    <!-- CONTENT -->
    <div class="content">
        <div
            fxLayout="column"
            fxLayoutAlign="center"
            [formGroup]="filteredFormGroup"
        >
            <div
                class="filters"
                fxLayout="column"
                fxLayoutAlign="center center"
                fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="space-between center"
            >
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="team-search"
                >
                    <mat-label>Search for a team</mat-label>
                    <input
                        matInput
                        placeholder="Search team ..."
                        formControlName="searchTerm"
                        name="searchTerm"
                    />
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="category-selector"
                >
                    <mat-label>Team Category</mat-label>
                    <mat-select
                        [compareWith]="compareCategories"
                        formControlName="currentCategory"
                    >
                        <mat-option>
                            All
                        </mat-option>
                        <mat-option
                            *ngFor="let category of teamCategories"
                            [value]="category"
                        >
                            {{ category.teamType }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                class="teams"
                fxLayout="row wrap"
                fxLayoutAlign="center"
                [@animateStagger]="{ value: '50' }"
            >
                <div
                    class="team"
                    *ngFor="let team of filteredTeams; trackBy: team?.id"
                    fxFlex="100"
                    fxFlex.gt-xs="50"
                    fxFlex.gt-sm="33"
                    [ngClass]="team.teamCategory"
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                >
                    <div
                        class="team-content"
                        fxLayout="column"
                        fxFlex="1 1 auto"
                    >
                        <div
                            class="header"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                            [ngClass]="team.teamCategory.teamCatColor"
                        >
                            <div class="category" fxFlex>
                                {{ team.teamCategory.teamType }}
                            </div>

                            <div
                                class="length"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <div class="updated">
                                    Team Size {{ team.numTeamMembers }}
                                </div>
                            </div>
                        </div>

                        <div
                            class="content"
                            fxLayout="column"
                            fxLayoutAlign="center center"
                            fxFlex="1 1 auto"
                        >
                            <div class="h1">{{ team.teamName }}</div>
                            <mat-icon class="length-icon s-20"
                                >access_time</mat-icon
                            >
                            <div class="min">
                                {{ team.totalAvailDuringGen | minutesExpand }}
                            </div>
                        </div>

                        <div
                            class="footer"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                        >
                            <button
                                mat-button
                                color="accent"
                                (click)="openTeam(team)"
                            >
                                Add Availability
                            </button>
                        </div>
                    </div>
                </div>

                <div class="no-team" *ngIf="filteredTeams.length === 0">
                    No teams found!
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
