@import 'src/@fuse/scss/fuse';

genie-plan-step-tm-manager {
    #gp-step-tm-mgr {
        display: block;
        position: relative;
        perspective: 3000px;

        > div {
            position: relative;
            transform-style: preserve-3d;
            transition: transform 1s;
        }

        > .fuse-widget-front {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            position: relative;
            overflow: hidden;
            visibility: visible;
            width: 100%;
            opacity: 1;
            z-index: 10;
            border-radius: 8px;
            transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s,
                opacity 0s ease-in 0.2s;
            transform: rotateY(0deg);
            backface-visibility: hidden;
        }

        // .owl-dt-container {
        //     &.owl-dt-dialog-container {
        //         font-size: 1em;
        //     }
        // }
        // .dateDialog {
        //     &.owl-dt-dialog {
        //         font-size: 1.1em;
        //     }
        // }

        table {
            width: 100%;
        }

        .team-detail-form {
            height: 100%;
        }

        .tm-avail-list-container {
            height: 300px;
            overflow: auto;
            table {
                height: auto;
            }
        }

        tr.team-detail-row {
            height: 0;
        }

        .team-detail-view {
            overflow: hidden;
            height: 350px;
            display: flex;
        }
        .primary-50-bg tr.team-row:not(.team-detail-expanded-row):hover {
            background: #f5f5f5;
        }

        tr.team-row:not(.team-detail-expanded-row):active {
            background: #efefef;
        }

        .team-row td {
            border-bottom-width: 0;
        }

        // .header {
        //     position: relative;
        //     flex: 1 0 auto;
        //     height: 280px;
        //     max-height: 280px;
        //     text-align: center;
        //     overflow: hidden;

        //     @include media-breakpoint('xs') {
        //         height: 240px;
        //         padding: 16px;
        //     }

        //     .hero-text {
        //         .hero-icon {
        //             position: absolute;
        //             top: -64px;
        //             left: 0px;
        //             opacity: 0.04;
        //             font-size: 512px !important;
        //             width: 512px !important;
        //             height: 512px !important;
        //         }

        //         h1 {
        //             font-size: 40px;
        //             font-weight: 300;
        //             letter-spacing: 0.01em;
        //             text-align: center;
        //             margin-top: 0;
        //             margin-bottom: 16px;

        //             @include media-breakpoint('xs') {
        //                 font-size: 24px;
        //             }
        //         }

        //         h3 {
        //             max-width: 480px;
        //             text-align: center;
        //             font-weight: 300;
        //             letter-spacing: 0.03em;
        //             margin: 0;

        //             @include media-breakpoint('xs') {
        //                 font-size: 14px;
        //             }
        //         }
        //     }
        // }

        // .content {
        //     .category-selector {
        //         min-width: 200px;
        //     }

        //     .filters {
        //         width: 100%;
        //         max-width: 1040px;
        //         margin: 24px auto;
        //         padding: 0 20px;

        //         @include media-breakpoint('xs') {
        //             margin: 0 auto;
        //         }

        //         .team-search {
        //             width: 320px;

        //             @include media-breakpoint('gt-xs') {
        //                 margin-right: 16px;
        //             }
        //         }
        //     }

        //     .teams {
        //         width: 100%;
        //         max-width: 1040px;
        //         margin: 0 auto;

        //         .no-team {
        //             font-size: 24px;
        //             margin: 24px 0;
        //             text-align: center;
        //         }

        //         .team {
        //             padding: 16px;

        //             &:hover {
        //                 .team-content {
        //                     border: none;
        //                     @include mat-elevation(12);
        //                 }
        //             }

        //             .team-content {
        //                 min-height: 240px;
        //                 border-radius: 4px;
        //                 overflow: hidden;
        //                 transition: box-shadow 200ms ease-in-out;
        //                 @include mat-elevation(1);

        //                 .header {
        //                     padding: 16px 24px;
        //                     height: 64px !important;
        //                     min-height: 64px !important;
        //                     max-height: 64px !important;

        //                     &.web-bg {
        //                         background: mat-color($mat-blue, 500);
        //                     }

        //                     &.android-bg {
        //                         background: mat-color($mat-green, 500);
        //                     }

        //                     &.firebase-bg {
        //                         background: mat-color($mat-amber, 800);
        //                     }

        //                     &.cloud-bg {
        //                         background: mat-color($mat-blue-grey, 500);
        //                     }

        //                     .category {
        //                         text-transform: capitalize;
        //                         text-align: left;
        //                         font-weight: 600;
        //                     }

        //                     .length {
        //                         .length-icon {
        //                             margin-right: 8px;
        //                         }

        //                         .min {
        //                             font-size: 16px;
        //                         }
        //                     }
        //                 }

        //                 .content {
        //                     padding: 24px;

        //                     .h1 {
        //                         font-size: 16px;
        //                         text-align: center;
        //                     }

        //                     .updated {
        //                         font-size: 13px;
        //                         font-weight: 600;
        //                         margin-top: 4px;
        //                     }
        //                 }

        //                 .footer {
        //                     padding: 16px;
        //                     height: 48px !important;
        //                     min-height: 48px !important;
        //                     max-height: 48px !important;
        //                     box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

.generation-start-marker {
    background: orange;
    border-radius: 100%;
}

.gen-trig-start-marker {
    background: green;
    border-color: orange;
    border-radius: 100%;
}

.trigger-start-marker {
    background: green;
    border-radius: 100%;
}
