<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button
                mat-icon-button
                (click)="cancel()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="triggerFormGroup">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Trigger Milestone</mat-label>
                    <input
                        name="milestone"
                        formControlName="milestone"
                        matInput
                    />
                    <mat-error>{{
                        !!triggerFormGroup.errors?.Trigger_duplicateTriggerMiles
                    }}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start">
                <mat-form-field appearance="outline" fxFlex="45">
                    <mat-label>Trigger Start</mat-label>
                    <input
                        matInput
                        name="triggerStart"
                        formControlName="triggerStart"
                        placeholder="Trigger Start"
                        [matDatepicker]="triggerStartDatePicker"
                        [min]="invalidStartDate"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="triggerStartDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #triggerStartDatePicker
                        [dateClass]="markGenerationDate"
                    ></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="45">
                    <mat-label>Trigger Start Time</mat-label>
                    <input
                        matInput
                        [ngxTimepicker]="triggerStartTimePicker"
                        [format]="24"
                        placeholder="Trigger Start Time"
                        formControlName="triggerStartTime"
                    />
                    <ngx-material-timepicker-toggle
                        matSuffix
                        class="secondary-text"
                        [for]="triggerStartTimePicker"
                    ></ngx-material-timepicker-toggle>
                </mat-form-field>
                <ngx-material-timepicker
                    [minutesGap]="15"
                    #triggerStartTimePicker
                ></ngx-material-timepicker>
            </div>
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            mat-stroked-button
            color="warn"
            class="mr-8"
            (click)="deleteTrigger()"
            aria-label="Delete"
            matTooltip="Delete"
        >
            <span *ngIf="!triggerIsNew()">DELETE</span>
            <span *ngIf="triggerIsNew()">CANCEL</span>
        </button>
        <button
            *ngIf="triggerIsNew()"
            mat-stroked-button
            color="accent"
            class="save-button"
            (click)="acceptChanges()"
            [disabled]="triggerFormGroup.invalid"
            aria-label="ADD"
        >
            <span *ngIf="!triggerIsNew()">UPDATE</span>
            <span *ngIf="triggerIsNew()">ADD</span>
        </button>
    </div>
</div>
