@import 'src/@fuse/scss/fuse';

.trigger-detail-dialog {
    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 500px;
    }

    .mat-dialog-container {
        padding: 0;
        width: 500px;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }
}

.generation-start-marker {
    background: orange;
    border-radius: 100%;
}
