<div
    id="gp-step-trig-action"
    [@animate]="{ value: '*', params: { y: '100%' } }"
    fxLayout="row"
    fxFlex="100"
    class="widget widget5"
>
    <div class="fuse-widget-front">
        <div
            class="px-16 border-bottom accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <div class="h3">Triggers</div>

            <div class="h3" *ngIf="currentTrigger">
                Trigger: {{ currentTrigger.milestone }} | MCT:
                {{ completionTime | minutesExpand }}
            </div>
            <div fxLayout="row">
                <form [formGroup]="triggerSelectionFormGroup" novalidate>
                    <mat-form-field floatLabel="never">
                        <mat-select
                            placeholder="Select Trigger"
                            formControlName="triggerSelect"
                            [compareWith]="compareTrigger"
                        >
                            <mat-option
                                *ngFor="let trigger of triggers"
                                [(value)]="trigger"
                            >
                                {{ trigger.milestone }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>

                <button class="mt-8" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="newTrigger()">
                        <mat-icon>alarm_add</mat-icon>
                        <span>New Trigger</span>
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="!triggers.length"
                        (click)="editTrigger()"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Edit Trigger</span>
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="!triggers.length"
                        (click)="deleteTrigger()"
                    >
                        <mat-icon>alarm_off</mat-icon>
                        <span>Delete Trigger</span>
                    </button>
                </mat-menu>
            </div>
        </div>

        <div class="ml-24 my-20">
            <p-pickList
                [source]="allActionItems | async"
                [target]="selectedActionItems"
                [responsive]="true"
                sourceHeader="Available Action Items"
                targetHeader="Selected Action Items"
                (onMoveToTarget)="addShell($event)"
                (onTargetReorder)="reSequence($event)"
                (onMoveToSource)="removeShell($event)"
                [disabled]="!currentTrigger"
                filterBy="shortCode,action"
                [showSourceControls]="false"
            >
                <ng-template let-actionItem pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div [hidden]="!!actionItem.sequence">
                            <div
                                fxLayout="row"
                                fxLayoutAlign="space-around center"
                            >
                                <span class="w-35-p">{{
                                    actionItem.teamCategory
                                }}</span>
                                <span class="w-50-p"
                                    >{{ actionItem.action }} [{{
                                        actionItem.shortCode
                                    }}]</span
                                >
                                <span clasas="w-15-p"
                                    >({{ actionItem.duration }} mins)</span
                                >
                            </div>
                        </div>
                        <div [hidden]="!actionItem.sequence">
                            <div
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <span class="w-20-p">{{
                                    actionItem.sequence
                                }}</span>
                                <span class="w-25-p">{{
                                    actionItem.shortCode
                                }}</span>
                                <span class="w-60-p">{{
                                    actionItem.duration | minutesExpand
                                }}</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <mat-divider></mat-divider>
        <div class="pt-12">
            <button mat-raised-button matStepperNext>
                Next: Assets Action Items
            </button>
        </div>
    </div>
</div>
