@import "src/@fuse/scss/fuse";

genie-plan-step2 {

display: flex;
flex: 1 1 auto;
width: 100%;

#triggerAssetContainer {
    position: relative;
    overflow: auto;
  

.mat-table {
    width: 100%;
    background: transparent;
    box-shadow: none;

    .mat-column-sequence {
        width: 120px;
    }

    .mat-column-shortCode {
        width: 190px;
    }

    .mat-column-duration {
        width: 280px;
    }

    .mat-cell {
        min-width: 0;
    }
}

    .ui-picklist,
    .ui-picklist-listwrapper
    	{
       height: 100%;

       .ui-picklist-list{
         height: 70%;
       }

   }
}
}