<div id="gp-step2" [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100" class="widget widget5">

    <div class="fuse-widget-front">
        <div class="px-16 border-bottom accent" fxFlex="0 1 auto" fxLayout="row">
            <div fxFlex class="py-16 h3">Triggers</div>
                <mat-form-field floatLabel="never">
                    <mat-select placeholder="Select Trigger" 
                        [disabled]="triggersEmpty"
                        [ngModel]="currentTrigger">
                        <mat-option *ngFor="let trigger of triggers" [value]="trigger.id">
                            {{trigger.milestone}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="mt-8" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="newTrigger()">
                          <mat-icon>alarm_add</mat-icon>
                          <span>New Trigger</span>
                        </button>
                        <button mat-menu-item 
                        [disabled]="triggersEmpty" 
                        (click)="editTrigger()">
                          <mat-icon>alarm_on</mat-icon>
                          <span>Edit Trigger</span>
                        </button>
                        <button mat-menu-item 
                        [disabled]="triggersEmpty" 
                        (click)="deleteTrigger()">
                          <mat-icon>alarm_off</mat-icon>
                          <span>Delete Trigger</span>
                        </button>
                      </mat-menu>
        </div>

        <div class="ml-24 my-20">
            <p-pickList [source]="allActionItems" 
                [target]="selectedTriggersAction" 
                [responsive]="true" 
                sourceHeader="Available Action Items"
                targetHeader="Selected Action Items" 
                (onMoveToTarget)="addSequence($event)" 
                (onTargetReorder)="reSequence()"
                (onMoveAllToTarget)="addSequence($event)" 
                (onMoveAllToSource)="removeSequence($event)" 
                (onMoveToSource)="removeSequence($event)"
                filterBy="shortCode,action" 
                [showSourceControls]="false">
                <ng-template let-actionItem pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div [hidden]="!!actionItem.sequence">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="w-35-p">{{actionItem.teamType}}</span>
                                <span class="w-50-p">{{actionItem.action}} [{{actionItem.shortCode}}]</span>
                                <span clasas="w-15-p">({{actionItem.duration}} mins)</span>
                            </div>
                        </div>
                        <div [hidden]="!actionItem.sequence">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="w-20-p">{{actionItem.sequence}}</span>
                                <span class="w-25-p">{{actionItem.shortCode}}</span>
                                <span class="w-60-p">{{actionItem.formattedDuration}}</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
    </div>
</div>