<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }} </span>
            <button
                mat-icon-button
                (click)="cancel()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!-- <mat-toolbar-row
                class="toolbar-bottom py-16"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <div class="contact-name mt-8">
                    {{ currentGen.title }}
                </div>
            </mat-toolbar-row> -->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="actionItemFormGroup">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>Action Performed</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >airplanemode_active</mat-icon
                    >
                    <input
                        name="action"
                        maxlength="25"
                        formControlName="action"
                        matInput
                    />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>Action Short Code</mat-label>

                    <input
                        name="shortCode"
                        maxlength="5"
                        formControlName="shortCode"
                        matInput
                    />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field
                    appearance="outline"
                    fxFlex
                    *ngIf="teamCatFormMode === 'select'"
                >
                    <mat-label>Assigned Team Category</mat-label>

                    <mat-select
                        [compareWith]="compareCategories"
                        formControlName="teamCategory"
                    >
                        <mat-option>Select/Create Category</mat-option>
                        <mat-option
                            *ngFor="let teamCat of teamCategories"
                            [value]="teamCat"
                            [ngClass]="{ color: teamCat?.teamCatColor }"
                        >
                            {{ teamCat.teamType }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex *ngIf="teamCatFormMode !== 'select'">
                    <input
                        matInput
                        type="text"
                        formControlName="editCategory"
                    />
                    <fuse-material-color-picker
                        matSuffix
                        mat-icon-button
                        formControlName="teamCatColorPicker"
                    ></fuse-material-color-picker>
                    <!-- <button
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="cancelCategory()"
                    >
                        <mat-icon
                            [ngStyle]="{ color: selectedTeamCat?.teamCatColor }"
                            >color_lens
                        </mat-icon>
                        
                    </button> -->

                    <button
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="cancelCategory()"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Save"
                        (click)="saveCategory()"
                    >
                        <mat-icon>check</mat-icon>
                    </button>
                </mat-form-field>

                <button class="mt-8" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button
                        mat-menu-item
                        [disabled]="teamCatFormMode === 'edit'"
                        (click)="addCategory()"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Add Category</span>
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="!selectedTeamCat"
                        (click)="editCategory()"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Edit Category</span>
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="!selectedTeamCat"
                        (click)="deleteTeamCategory()"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Delete Category</span>
                    </button>
                </mat-menu>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start">
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>Assignable</mat-label>
                    <mat-select formControlName="assignable">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>Duration</mat-label>

                    <input
                        name="duration"
                        maxlength="5"
                        placeholder="Length of Time"
                        formControlName="duration"
                        matInput
                    />
                    <span matSuffix>minutes</span>
                    <mat-hint align="end">{{ formattedDuration }}</mat-hint>
                </mat-form-field>
            </div>
            <div
                fxLayout="row"
                class="textarea-wrapper"
                fxLayoutAlign="start start"
            >
                <p-editor
                    name="notes"
                    matInput
                    formControlName="notes"
                    [style]="{ height: '200px' }"
                ></p-editor>
            </div>
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            mat-button
            class="mr-8"
            (click)="deleteItem()"
            aria-label="CANCEL"
            matTooltip="Cancel Changes"
        >
            CANCEL
        </button>
        <button
            *ngIf="formMode === 'edit'"
            mat-button
            class="mr-8"
            (click)="deleteItem()"
            aria-label="Delete"
            matTooltip="Delete"
        >
            DELETE
        </button>

        <button
            *ngIf="formMode !== 'edit'"
            mat-button
            class="save-button"
            (click)="saveChanges()"
            [disabled]="actionItemFormGroup.invalid"
            aria-label="SAVE"
        >
            ADD
        </button>

        <button
            *ngIf="formMode === 'edit'"
            mat-button
            class="save-button"
            (click)="saveChanges()"
            [disabled]="actionItemFormGroup.invalid"
            aria-label="SAVE"
        >
            UPDATE
        </button>
    </div>
    <mat-progress-bar
        *ngIf="isSaving | async"
        [color]="isDeleting ? 'warn' : 'primary'"
        mode="indeterminate"
    ></mat-progress-bar>
</div>
