<div id="actionItem" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="'../../action-items'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'">
                        {{ actionItem.action }}
                    </div>
                    <div class="h2" *ngIf="pageType === 'new'">
                        New Action Item
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Action Item Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button
                mat-raised-button
                class="save-actionItem-button"
                [disabled]="actionItemForm.invalid || actionItemForm.pristine"
                (click)="saveActionItem()"
            >
                <span *ngIf="pageType === 'new'">ADD</span>
                <span *ngIf="pageType === 'edit'">SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="actionItemForm"
                    [formGroup]="actionItemForm"
                    class="actionItem w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <div
                        class="tab-content p-24"
                        fusePerfectScrollbar
                        fxLayout="column"
                    >
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                fxFlex="55"
                            >
                                <mat-label>Action</mat-label>
                                <input
                                    matInput
                                    placeholder="Action"
                                    name="action"
                                    formControlName="action"
                                    required
                                />
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                fxFlex="35"
                            >
                                <mat-label>Action Short Code</mat-label>
                                <input
                                    matInput
                                    placeholder="Short Code"
                                    name="shortCode"
                                    formControlName="shortCode"
                                    required
                                />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                fxFlex="30"
                            >
                                <mat-label>Duration</mat-label>
                                <input
                                    matInput
                                    placeholder="Duration"
                                    type="number"
                                    name="duration"
                                    formControlName="duration"
                                />
                                <span matSuffix>minutes</span>
                                <mat-hint align="end">{{
                                    formattedDuration
                                }}</mat-hint>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                fxFlex="30"
                            >
                                <mat-label>Assigned Team Type</mat-label>
                                <mat-select
                                    formControlName="teamCategory"
                                    required
                                >
                                    <mat-option
                                        *ngFor="let tc of teamCategories"
                                        [value]="tc.id"
                                    >
                                        {{ tc.teamType }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                fxFlex="25"
                            >
                                <mat-label>Available?</mat-label>
                                <mat-select
                                    formControlName="assignable"
                                    required
                                >
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-form-field
                            appearance="outline"
                            floatLabel="always"
                            class="w-100-p"
                        >
                            <mat-label>Note </mat-label>
                            <textarea
                                matInput
                                placeholder="Notes"
                                name="notes"
                                formControlName="notes"
                                rows="3"
                            >
                            </textarea>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
