<div
    id="gp-step-ata-list"
    [@animate]="{ value: '*', params: { y: '100%' } }"
    class="widget widget5 page-layout simple left-sidebar inner-sidebar inner-scroll"
>
    <div class="fuse-widget-front">
        <div
            class="px-16 border-bottom accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <div class="h3">Generation Asset Tasks</div>

            <div fxLayout="row">
                <form [formGroup]="triggerSelectionFormGroup">
                    <mat-form-field floatLabel="never">
                        <mat-select
                            placeholder="Select Trigger"
                            formControlName="trigger"
                            [compareWith]="compareTrigger"
                        >
                            <mat-option
                                *ngFor="let trigger of triggers"
                                [(value)]="trigger"
                            >
                                {{ trigger.milestone }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>

                <button class="mt-8" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button
                        mat-menu-item
                        [disabled]="!triggers.length"
                        (click)="editTrigger()"
                    >
                        <span>Modify Trigger</span>
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="!triggers.length"
                        (click)="editTrigger()"
                        (click)="createNewTrigger()"
                    >
                        <span>Plan Trigger</span>
                    </button>
                    <button mat-menu-item (click)="createNewTrigger()">
                        <span>Plan All</span>
                    </button>
                </mat-menu>
            </div>
        </div>

        <div>
            <div class="content">
                <!-- SIDEBAR -->
                <fuse-sidebar
                    class="sidebar"
                    name="gen-trig-sidebar"
                    position="left"
                    lockedOpen="gt-sm"
                >
                    <!-- SIDEBAR CONTENT -->
                    <div class="content" fusePerfectScrollbar>
                        <div
                            class="sidebar-content"
                            [@animate]="{ value: '*' }"
                        >
                            <div class="card">
                                <!-- SIDEBAR HEADER -->
                                <!-- <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
                                        </div> -->

                                <div class="content py-16" fusePerfectScrollbar>
                                    <div class="nav material2">
                                        <div
                                            class="nav-item"
                                            aria-label="inbox"
                                        >
                                            <a
                                                class="nav-link"
                                                matRipple
                                                (click)="triggerFilter = 'all'"
                                                [ngClass]="{
                                                    'active accent':
                                                        triggerFilterBy ===
                                                        'all'
                                                }"
                                            >
                                                <span class="title"
                                                    >All Triggers</span
                                                >
                                            </a>
                                        </div>

                                        <div *ngFor="let trigger of triggers">
                                            <div
                                                class="nav-item"
                                                aria-label="generation triggers"
                                                (click)="
                                                    triggerFilter =
                                                        trigger.milestone
                                                "
                                            ></div>
                                            <a
                                                class="nav-link"
                                                matRipple
                                                [ngClass]="{
                                                    'active accent':
                                                        triggerFilter ===
                                                        trigger.milestone
                                                }"
                                            >
                                                <div class="title">
                                                    {{ trigger.milestone }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / SIDEBAR HEADER -->
                            <hr />
                            <!-- SIDEBAR CONTENT -->
                            <div class="content py-16" fusePerfectScrollbar>
                                <div class="nav material2">
                                    <div class="nav-item" aria-label="inbox">
                                        <a
                                            class="nav-link"
                                            matRipple
                                            (click)="assetFilter = 'all'"
                                            [ngClass]="{
                                                'active accent':
                                                    assetFilter === 'all'
                                            }"
                                        >
                                            <span class="title"
                                                >All Assets</span
                                            >
                                        </a>
                                    </div>

                                    <div *ngFor="let asset of assets">
                                        <div
                                            class="nav-item"
                                            aria-label="generation asset"
                                            (click)="assetFilter = asset.alias"
                                        >
                                            <a
                                                class="nav-link"
                                                matRipple
                                                [ngClass]="{
                                                    'active accent':
                                                        assetFilter ===
                                                        asset.alias
                                                }"
                                            >
                                                <div class="title">
                                                    {{ asset.alias }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / SIDEBAR CONTENT -->
                </fuse-sidebar>
                <!-- / SIDEBAR -->

                <!-- CENTER -->
                <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
                    <!-- CONTENT -->
                    <div class="content">
                        <mat-table
                            #table
                            [dataSource]="dataSource"
                            [@animateStagger]="{ value: '50' }"
                        >
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="checkbox">
                                <mat-header-cell
                                    *matHeaderCellDef
                                ></mat-header-cell>
                                <mat-cell *matCellDef="let ata">
                                    <mat-checkbox
                                        [(ngModel)]="checkboxes[ata.id]"
                                        (click)="$event.stopPropagation()"
                                    >
                                    </mat-checkbox>
                                </mat-cell>
                            </ng-container>

                            <!-- Sequence Column -->
                            <ng-container matColumnDef="sequence">
                                <mat-header-cell *matHeaderCellDef
                                    >Sequence</mat-header-cell
                                >
                                <mat-cell *matCellDef="let ata">
                                    <p class="font-weight-600">
                                        {{ ata?.sequence }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <!-- Alias Column -->
                            <ng-container matColumnDef="alias">
                                <mat-header-cell *matHeaderCellDef
                                    >Alias</mat-header-cell
                                >
                                <mat-cell *matCellDef="let ata">
                                    <p class="text-truncate font-weight-600">
                                        {{ ata?.genAsset?.asset?.alias }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef
                                    >Action</mat-header-cell
                                >
                                <mat-cell *matCellDef="let ata">
                                    <p class="text-truncate font-weight-600">
                                        {{
                                            ata?.triggerAction?.actionItem
                                                ?.action
                                        }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <!-- Trigger Column -->
                            <ng-container matColumnDef="trigger">
                                <mat-header-cell *matHeaderCellDef
                                    >Trigger</mat-header-cell
                                >
                                <mat-cell *matCellDef="let ata">
                                    <p class="text-truncate font-weight-600">
                                        {{
                                            ata?.triggerAction?.trigger
                                                ?.milestone
                                        }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef
                                    >Status</mat-header-cell
                                >
                                <mat-cell *matCellDef="let ata">
                                    <p class="text-truncate font-weight-600">
                                        {{ ata?.actionStatus }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <!-- Outcome Column -->
                            <ng-container matColumnDef="outcome">
                                <mat-header-cell *matHeaderCellDef
                                    >Outcome</mat-header-cell
                                >
                                <mat-cell *matCellDef="let ata">
                                    <p class="text-truncate font-weight-600">
                                        {{ ata?.outcome }}
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></mat-header-row>
                            <mat-row
                                *matRowDef="let ata; columns: displayedColumns"
                                class="contact"
                                matRipple
                                [@animate]="{
                                    value: '*',
                                    params: { y: '100%' }
                                }"
                            >
                            </mat-row>
                        </mat-table>
                    </div>
                    <!-- / CONTENT -->
                </div>
                <!-- / CENTER -->
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="pt-12">
            <button mat-raised-button matStepperNext>
                Next: Assets Action Items
            </button>
        </div>
    </div>
</div>
