@import 'src/@fuse/scss/fuse';

genie-plan-step-ata-list {
    #gp-step-ata-list {
        // display: block;
        position: relative;
        perspective: 3000px;

        > div {
            position: relative;
            transform-style: preserve-3d;
            transition: transform 1s;
        }

        .fuse-widget-front {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            position: relative;
            overflow: hidden;
            visibility: visible;
            width: 100%;
            opacity: 1;
            z-index: 10;
            border-radius: 8px;
            transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s,
                opacity 0s ease-in 0.2s;
            transform: rotateY(0deg);
            backface-visibility: hidden;
        }

        .content {
            overflow: hidden;

            .sidebar {
                &:not(.locked-open) {
                    background: white;
                }
            }
        }
    }

    mat-select {
        > .mat-select-trigger {
            > .mat-select-value {
                .mat-select-placeholder {
                    color: white;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    #ataTable {
        height: 400px;
        overflow: auto;
    }

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-sequence {
            flex: 0 0 10%;
        }

        .mat-column-alias {
            flex: 0 1 15%;
        }
        .mat-column-action {
            flex: 0 1 15%;
        }
        .mat-column-trigger {
            flex: 0 1 15%;
        }
        .mat-column-status {
            flex: 0 1 15%;
        }
        .mat-column-plannedStart {
            flex: 0 1 20%;
        }

        .mat-column-buttons {
            flex: 0 0 10%;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
