<div
    id="gp-step-ata-list"
    [@animate]="{ value: '*', params: { y: '100%' } }"
    class="page-layout simple left-sidebar inner-sidebar inner-scroll"
>
    <!-- HEADER -->
    <div class="widget widget5">
        <div class="fuse-widget-front">
            <div
                class="px-16 border-bottom accent"
                fxLayout="row"
                fxLayoutAlign="space-between center"
            >
                <div class="h3">Generation Asset Tasks</div>

                <div fxLayout="row">
                    <form [formGroup]="triggerSelectionFormGroup">
                        <mat-form-field floatLabel="never">
                            <mat-select formControlName="triggerMilestone">
                                <mat-option [value]="'all'">
                                    --All Triigger--
                                </mat-option>
                                <mat-option
                                    *ngFor="let milestone of triggerMilestones"
                                    [value]="milestone"
                                >
                                    {{ milestone }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>

                    <button
                        class="mt-8"
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="planAll()">
                            <mat-icon>view_headline</mat-icon>
                            <span>Plan All</span>
                        </button>
                        <button mat-menu-item (click)="planAtas()">
                            <mat-icon>view_list </mat-icon>
                            <span>Plan Unplanned</span>
                        </button>
                        <button
                            [disabled]="triggerFilterChange.value === 'all'"
                            (click)="planAtas(triggerFilterChange.value)"
                        >
                            <mat-icon>view_day</mat-icon>

                            <span>Plan Trigger</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar
            class="sidebar"
            name="asset-trigger-sidebar"
            position="left"
            lockedOpen="gt-sm"
        >
            <!-- SIDEBAR CONTENT -->
            <div class="content" fusePerfectScrollbar>
                <asset-sidebar
                    (assetFilterChange)="changeAssetFilter($event)"
                    [@animate]="{ value: '*' }"
                ></asset-sidebar>
            </div>
            <div class="content" fusePerfectScrollbar>
                <action-item-sidebar
                    (actionItemFilterChange)="changeActionFilter($event)"
                    [@animate]="{ value: '*' }"
                ></action-item-sidebar>
            </div>
            <!-- / SIDEBAR CONTENT -->
        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-30">
            <!-- CONTENT -->
            <div #ataTable class="content">
                <mat-table
                    fusePerfectScrollbar
                    [dataSource]="dataSource"
                    [@animateStagger]="{ value: '50' }"
                    cdkDropList
                    (cdkDropListDropped)="reSequenceTask($event)"
                >
                    <!-- Sequence Column -->
                    <ng-container matColumnDef="sequence">
                        <mat-header-cell *matHeaderCellDef
                            >Sequence</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            {{ ata?.sequence }}
                        </mat-cell>
                    </ng-container>

                    <!-- Alias Column -->
                    <ng-container matColumnDef="alias">
                        <mat-header-cell *matHeaderCellDef
                            >Alias</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            {{ ata?.generationAsset?.asset?.alias }}
                        </mat-cell>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef
                            >Action</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            {{ ata?.triggerAction?.actionItem?.action }}
                        </mat-cell>
                    </ng-container>

                    <!-- Trigger Column -->
                    <ng-container matColumnDef="trigger">
                        <mat-header-cell *matHeaderCellDef
                            >Trigger</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            {{ ata?.triggerAction?.trigger?.milestone }}
                        </mat-cell>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef
                            >Status</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            {{ ata?.actionStatus }}
                        </mat-cell>
                    </ng-container>

                    <!-- Planned Start Column -->
                    <ng-container matColumnDef="plannedStart">
                        <mat-header-cell *matHeaderCellDef
                            >Planned Start/Stop</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            {{ ata?.plannedStart | date: 'dd-MMM HHmm' }} <br />
                            {{ ata?.plannedStop | date: 'dd-MMM HHmm' }}
                        </mat-cell>
                    </ng-container>

                    <!-- Buttons Column -->
                    <ng-container matColumnDef="buttons">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let ata">
                            <mat-icon cdkDragHandle>reorder</mat-icon>

                            <div fxFlex="row" fxLayoutAlign="end center">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="moreMenu"
                                    aria-label="More"
                                    (click)="$event.stopPropagation()"
                                >
                                    <mat-icon class="secondary-text"
                                        >more_vert</mat-icon
                                    >
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <button
                                        mat-menu-item
                                        aria-label="remove"
                                        (click)="deleteContact(contact)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                        <span>Remove</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row
                        *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                        *matRowDef="let ata; columns: displayedColumns"
                        cdkDrag
                        [cdkDragData]="ata"
                        matRipple
                        (click)="editAta(ata)"
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                    >
                    </mat-row>
                </mat-table>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>
<div class="pt-12">
    <button mat-raised-button matStepperNext>Next: Triggers</button>
</div>

<!-- ADD CONTACT BUTTON -->
<!-- <button mat-fab class="accent" id="add-contact-button" (click)="newContact()" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>person_add</mat-icon>
</button> -->
<!-- / ADD CONTACT BUTTON -->
