<div
    id="gp-step-ata-list"
    [@animate]="{ value: '*', params: { y: '100%' } }"
    class="page-layout simple left-sidebar inner-sidebar inner-scroll"
>
    <!-- HEADER -->
    <div class="widget widget5">
        <div class="fuse-widget-front">
            <div
                class="px-16 border-bottom accent"
                fxLayout="row"
                fxLayoutAlign="space-between center"
            >
                <div class="h3">Generation Asset Tasks</div>

                <div fxLayout="row">
                    <form [formGroup]="triggerSelectionFormGroup">
                        <mat-form-field floatLabel="never">
                            <mat-select
                                placeholder="Select Trigger"
                                formControlName="trigger"
                                [compareWith]="compareTrigger"
                            >
                                <mat-option
                                    *ngFor="let trigger of triggers"
                                    [(value)]="trigger"
                                >
                                    {{ trigger.milestone }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>

                    <button
                        class="mt-8"
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button
                            mat-menu-item
                            [disabled]="!triggers.length"
                            (click)="editTrigger()"
                        >
                            <span>Modify Trigger</span>
                        </button>
                        <button
                            mat-menu-item
                            [disabled]="!triggers.length"
                            (click)="editTrigger()"
                            (click)="createNewTrigger()"
                        >
                            <span>Plan Trigger</span>
                        </button>
                        <button mat-menu-item (click)="createNewTrigger()">
                            <span>Plan All</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar
            class="sidebar"
            name="asset-trigger-sidebar"
            position="left"
            lockedOpen="gt-sm"
        >
            <!-- SIDEBAR CONTENT -->
            <div class="content" fusePerfectScrollbar>
                <asset-trigger-sidebar
                    (assetFilterChange)="changeAssetFilter($event)"
                    [@animate]="{ value: '*' }"
                ></asset-trigger-sidebar>
            </div>
            <!-- / SIDEBAR CONTENT -->
        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <!-- CONTENT -->
            <div class="content">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    [@animateStagger]="{ value: '50' }"
                >
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="checkbox">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let ata">
                            <mat-checkbox
                                [(ngModel)]="checkboxes[ata.id]"
                                (click)="$event.stopPropagation()"
                            >
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <!-- Sequence Column -->
                    <ng-container matColumnDef="sequence">
                        <mat-header-cell *matHeaderCellDef
                            >Sequence</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            <p class="font-weight-600">{{ ata?.sequence }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Alias Column -->
                    <ng-container matColumnDef="alias">
                        <mat-header-cell *matHeaderCellDef
                            >Alias</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            <p class="text-truncate font-weight-600">
                                {{ ata?.genAsset?.asset?.alias }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef
                            >Action</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            <p class="text-truncate font-weight-600">
                                {{ ata?.triggerAction?.actionItem?.action }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Trigger Column -->
                    <ng-container matColumnDef="trigger">
                        <mat-header-cell *matHeaderCellDef
                            >Trigger</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            <p class="text-truncate font-weight-600">
                                {{ ata?.triggerAction?.trigger?.milestone }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef
                            >Status</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            <p class="text-truncate font-weight-600">
                                {{ ata?.actionStatus }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Outcome Column -->
                    <ng-container matColumnDef="outcome">
                        <mat-header-cell *matHeaderCellDef
                            >Outcome</mat-header-cell
                        >
                        <mat-cell *matCellDef="let ata">
                            <p class="text-truncate font-weight-600">
                                {{ ata?.outcome }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row
                        *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                        *matRowDef="let ata; columns: displayedColumns"
                        class="contact"
                        matRipple
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                    >
                    </mat-row>
                </mat-table>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>
<div class="pt-12">
    <button mat-raised-button matStepperNext>Next: Triggers</button>
</div>

<!-- ADD CONTACT BUTTON -->
<!-- <button mat-fab class="accent" id="add-contact-button" (click)="newContact()" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>person_add</mat-icon>
</button> -->
<!-- / ADD CONTACT BUTTON -->
